* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #548687;
    text-align: center;
}

.container {
    height: 70vh;
    align-items: center;
    justify-content: center;
    display: flex;
    /* flex-wrap: wrap; */
}

.game {
     height: 60vmin;
     width: 60vmin;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    font-size: 8vmin;
    color: saddlebrown;
}

.reset-button {
    padding: 1rem;
    font-size: 1.5rem;
    color: red;
    background-color: black;
}